@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Hesaplama Hizmeti Demosu</h1>
    <h2>@Html.ActionLink("Run It", "Index", "Calc")</h2>
    <p>
      
       Bu web uygulaması aşağıdakileri gösterir:
        <ul>
            <li>ASP.NET Core 3.0</li>
            <li>Unit Testing with xUnit.net</li>
        </ul>
    </p>
</div>
